@media screen and (max-width: 600px) {

    .icon-tickitz-home img{
        width: auto !important;
        height: auto !important;
    }
    .con-btn-sign{
        display: none;
    }

    .con-page-home {
        overflow-x: hidden;
    }

    .con-page-home article {
        padding: 25px;
    }

    .con-hero {
        flex-direction: column;
        padding-top: 70px;
    }

    .hero-words {
        width: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
    }

    .con-page-home article h2 {
       text-align: center;
    }

    .hero-words p {
        text-align: center;
        line-height: 35px;
    }

    .hero-words .motivation {
        font-size: 32px;
        line-height: 44px;
    }

    .hero-images{
        column-gap: 15px;
        justify-content: center;
    }

    .hero-images .sub-images {
        row-gap: 15px;
    }
    .hero-images .sub-images .image-litle {
        max-width: 100%;
        height: auto;
    }

    .hero-images .sub-images .image-large {
        max-width: 100%;
        height: auto;
    }

    .con-why {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }

    .con-page-home article .sub-title {
        width: 100%;
        text-align: center;
    }

    .con-why .con-services {
        flex-direction: column;
        column-gap: 0;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .con-why .con-services .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .sub-title-services {
        text-align: center;
        color: #52525B;
        letter-spacing: 0.75px;
        line-height: 32px;
    }

    .con-card-movies .card-movies {
        width: 200px !important;
    }
    
    .con-card-movies .card-movies img {
        height: 300px !important;
        width: 200px !important;
    }
    
    .card-movies .movie-name {
        font-size: 16px !important;
    }
    
    .card-movies .con-movie-genre {
        column-gap: 5px !important;
    }
    
    .card-movies .con-movie-genre .movie-genre {
        padding: 6px 12px 6px 12px !important;
        font-size: 10px;
    }
    
    .card-movies .con-details-buy {
        row-gap: 7px;
        top: 0;
        left: 0;
        width: 200px !important;
        height: 300px !important;
    }
    
    
    .card-movies .con-details-buy a {
        width: 60%;
        height: 35px !important;
        font-size: 12px !important;
    }
    
    .card-movies .recomended {
        font-size: 12px !important;
        color: #FFFFFF;
        padding: 7px !important;
    }
    
    .card-movies .mark-shadow{
        width: 10px !important;
        height: 17px !important;
        top: 8.7%;
        left: -2.7%;
    }

    .link-view-all {
        display: none;
    }

    .btn-movies-upcoming {
        display: none;
    }

    .release-date {
        font-size: 14px;
    }

    .con-subscribe{
        width: 87%;
        padding-bottom: 130px;
        margin-bottom: 0px;
    }

    .con-subscribe p {
        font-size: 32px;
        margin-bottom: 25px;
        text-align: center;
    }

    .con-subscribe form {
        flex-direction: column;
        column-gap: 0;
        row-gap: 14px;
    }

    .con-subscribe form input {
        background-color: #2563EB;
    }

    .con-subscribe::after {
        bottom: -25%;
        right: -45%;
    }

    footer .con-list-footer {
        flex-direction: column;
        padding: 120px 25px 0 25px;
        
    }

    .con-list-footer .sub-list-footer {
        width: 100%;
        justify-content: start;
    }

    .con-list-footer .footer-explore {
        padding-left: 0;
    }

    .con-list-footer .footer-tickitz p {
        width: 100%;
        font-size: 14px;
    }

    .con-list-footer .footer-tickitz img {
        width: 153px;
        height: 60px;
    }

    .con-list-footer .sub-list-footer .title-list-footer {
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .con-list-footer  .footer-explore .list-explore{
        display: flex;
        flex-direction: row;
        column-gap: 40px;
        flex-wrap: wrap;
    }

    .list-sponsor {
        display: flex;
        flex-direction: row;
        column-gap: 25px;
        flex-wrap: wrap;
    }

    .list-sponsor img, .icon-cinema, .icon-hiflix {
        width: 81px;
        height: 30px;
        margin-bottom: 10px;
    }

    .con-list-footer .footer-sponsor .title-list-footer {
        margin-bottom: 20px;
    }

    .con-medsos a {
        display: none;
    }

    .con-icon-medsos {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    .copy-right {
        font-size: 13px;
        text-align: left;
        padding-left: 20px;
    }

    .con-list-footer .footer-tickitz img {
        width: 85px;
        height: auto;
    }
}